body {
  background: #e3d2c5;
  font-family: sans-serif;
}

.app-container {
  max-width: 500px;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  margin: 60px auto 30px;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 900;
  color: #271000;
}

select {
  width: 100%;
  display: block;
  margin: 40px auto 30px;
  padding: 10px 5px;
  border-radius: 5px;
  font-size: 18px;
}

.city {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 30px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

h2 {
  margin: 0;
  padding: 5px 0;
}

.date {
  opacity: 0.7;
}

.time {
  font-size: 45px;
  font-weight: bold;
}

.time small {
  font-size: 16px;
  vertical-align: middle;
}

.city:last-child {
  border: none;
}

footer {
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  padding: 0 30px 30px;
  font-size: 14px;
}

a {
  color: #271000;
}
